body {
  background-image: url("../images/BackgroungHome.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  animation: change 25s 10s 3 ease-in-out;
  min-height: 450px;
  /* justify-content: center; */
}

@keyframes change {
  0% {
    background-image: url("../images/BackgroungHome.jpg");
  }

  40% {
    background-image: url("../images/BG2.jpg");
  }

  60% {
    background-image: url("../images/BG3.jpg");
  }

  80% {
    background-image: url("../images/BG4.jpg");
  }

  100% {
    background-image: url("../images/BG5.jpg");
  }
}

main {
  min-width: 100%;
  min-height: 450px;
	background-color: rgba(173, 250, 174, 0.8);
	border-radius: 15px;
	padding: 10px;
	color: rgb(0, 0, 0);
  justify-content: center;
  justify-items: center;
  align-items: center;
	/* mengubah warna font menjadi putih */
	/* font-size: 25px; */
	/* memperbesar ukuran teks */
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
color:rgb(100, 238, 102);
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  text-align: center;
}