
.form-signin {
    padding: 25px;
}

.row {
    margin-left: 1%;
    margin-top: 7.5%;
    /* display: contents; */
    width: 100%;
    height: 100%;
    justify-content: center;
}

.row .card {
    border-radius: 15px;
    width: 75%;
}

.form-signin form {
    width: 100%;
}
.form-signin .form-floating:focus-within {
    z-index: 2;
    /* font-size: smaller;
    margin-bottom: 1px; */
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
