.modal {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* margin: 0 -10px; */
}

.col img{
    object-fit: cover;
    height: 127.5px;
    width: 170px;
    /* flex: 1 0 20%; */
    margin: 10px;
}

@media only screen and (max-width: 576px) {
    .col {
        flex-basis: 50%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .col {
        flex-basis: 33.33%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .col {
        flex-basis: 25%;
    }
}

@media only screen and (min-width: 993px) {
    .col {
        flex-basis: 20%;
    }
}
